.AppointmentButton {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  right: 24px;
  bottom: 24px;
  background-color: #e02e43;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.AppointmentButton i {
  color: #fdfdfd;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 13px;
  left: 13px;
  line-height: 24px;
}
