.Appointment {
  background-color: rgb(250, 205, 75);
  cursor: pointer;
  margin-bottom: 1px;
  border-radius: 5px;
}

.Appointment p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}