.DayNames p {
  margin: 0;
  align-self: center;
  justify-self: center;
}

.DayNames {
  grid-column: 1 / span 7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  background-color: skyblue;
}

@media (min-width: 768px) {
  .DayNames {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .DayNames {
    font-size: 10px;
  }
}
