.Nav {
  background-color: #fdfdfd;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Nav {
  display: grid;
  grid-column: 1 / span 7;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

.nav-buttons {
  grid-column: 1 / span 1;
  align-self: center;
  justify-self: right;
}

.nav-month {
  grid-column: 2 / span 1;
  align-self: center;
  justify-self: left;
}

.nav-button {
  display: inline;
  cursor: pointer;
}
